<p id="notice"><%= notice %></p>

<h1>Photos</h1>


<div class="all-cont">
    <% @posts.each do |post| %>
      <div class="image-cont">
        <%= image_tag(post.photo,width: "170px")  %>
        <div class='menu-title-cont'>
        <b><%= post.title %></b>
          <div class="menu-items">
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        </div>

    <% end %>
<div>





