<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

  <%= image_tag(@post.photo, width: 200) if @post.photo.attached? %><br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br><br>

</% gem mini_magick is used in order to open up image from active record but also access meta data%>
<%image = MiniMagick::Image.open(@post.photo) %>
</%byebug%>




</% gem minexiftool is only used to extract metadata and uses the path provided by minimagick%>
<% photoMetaData = MiniExiftool.new image.path %>

</% gem exiftool is only used to extract metadata and uses the path provided by minimagick%>
<% newImageMetaData  = Exiftool.new(image.path)%>



<% properties = image.data["properties"]%>
<% profiles = image.data["profiles"]%>
<% iptc= image.data["profiles"]["iptc"]%>



<table>
<tr>
            <th>key</th>
            <th>value</th>
</tr>
<tr>

<tr>
    <td><b>Filename</b></td>
        <td><%=@post.photo.blob["filename"]%></td>
</tr>
    
<td><b>Title</b></td>
    <%if iptc["Image Name[2,5]"] %>
    <td> <%=iptc["Image Name[2,5]"].join(",")%></td>
    <%else%>
        <td> <%=%></td>
    <%end%>
</tr>
<tr>
    <td><b>Image type</b></td>
        <td><%=image.type%></td>
</tr>
<tr>
    <td><b>Image mime type</b></td>
        <td> <%=image.mime_type%></td>
</tr>
<tr>
    <td><b>Image width</b></td>
        <td>  <%=image.width%> px</td>
</tr>
<tr>
    <td><b>Image Height</b></td>
        <td> <%=image.height%> px</td>
</tr>
<tr>
    <td><b>Image Size</b></td>
        <td> <%=image.data["filesize"]%> </td>
</tr>

</%properties values%>
<tr>
    
    <td><b>Date created</b></td>
        <td> <%=properties["date:create"] %></td>
</tr>
<tr>
    
    <td><b>Date modified</b></td>
        <td> <%=properties["date:modify"]%></td>
</tr>
<tr>
    
    <td><b>Date/Time digitized</b></td>
        <td> <%=image.exif["DateTimeDigitized"]%></td>
</tr>
<tr>
    
    <td><b>Copyright</b></td>
        <td> <%=properties["exif:Copyright"]%></td>
</tr>
<tr>
    
    <td><b>Photographer</b></td>
        <td> <%=properties["exif:Artist"]%></td>
</tr>
<tr>
    
    <td><b>Caption</b></td>
        <td> <%=properties["exif:ImageDescription"]%></td>
</tr>
<td><b>Sub Location</b></td>
    <% if iptc["Sub-Location[2,92]"]%>
        <td> <%=iptc["Sub-Location[2,92]"].join(",")%></td>
    <%else%>
        <td> <%=%></td>
    <%end%>
</tr>
<tr>
    
    <td><b>Make</b></td>
        <td> <%=properties["exif:Make"]%></td>
</tr>
<tr>
    
    <td><b>Body Serial Number</b></td>
        <td> <%=image.exif["BodySerialNumber"]%></td>
</tr>
<tr>
    
    <td><b>Lens Model</b></td>
        <td> <%=image.exif["LensModel"]%></td>
</tr>
<tr>
    
    <td><b>Model</b></td>
        <td> <%=properties["exif:Model"]%></td>
</tr>
<tr>
    
    <td><b>Exif Software</b></td>
        <td> <%=properties["exif:Software"]%></td>
</tr>

</%iptc values%>
<tr>
    
    <td><b>Keywords</b></td>
        <td> <%=iptc["Keyword[2,25]"]%></td>
</tr>

     
</table>
<hr>

<table class='extra-table'>
<% image.data.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>

</table>

<h1>properties</h1>
<table >
<%properties.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>
</table>

<h1>profiles</h1>
<table >
<%profiles.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>
</table>

<h1>iptc</h1>
<table >
<%iptc.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>
</table>

<h1>------------------ gem MiniExiftool--------------------</h1>
<table >
<%photoMetaData .as_json.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>
</table>

<h1>------------------- gem Exiftool ---------------------</h1>
</% gem exiftool is only used to extract metadata and uses the path provided by minimagick%>
<% newImageMetaData  = Exiftool.new(image.path)%>
<table >
<% newImageMetaData.as_json.each do |key, value| %>
                <tr >
                    <td><b><%=key %></b></td> 
                    <td> <%=value%></td>
                </tr>
            <% end%>
</table>

<button class="extra-button">extra</button>
<button class="extra-close">close extra</button>

<script type="text/javascript">
    var button = document.querySelector('.extra-button')
    var close = document.querySelector('.extra-close')

        button.addEventListener('click', (evt) => {
            document.querySelector('.extra-table').style.display = "block"
            button.style.display = 'none'
            close.style.display = 'block'
        })

          close.addEventListener('click', (evt) => {
            document.querySelector('.extra-table').style.display = "none"
            button.style.display = 'block'
            close.style.display = 'none'
        })
 
</script>

<!-- 
[{:word=>"NEW", :confidence=>95, :x_start=>196, :y_start=>75, :x_end=>506, :y_end=>207}, 
{:word=>"YORK", :confidence=>95, :x_start=>656, :y_start=>133, :x_end=>1067, :y_end=>206},
{:word=>"CITY", :confidence=>95, :x_start=>1220, :y_start=>129, :x_end=>1627, :y_end=>204}, 
{:word=>"WPA", :confidence=>96, :x_start=>1784, :y_start=>125, :x_end=>2129, :y_end=>203}, 
{:word=>"ART", :confidence=>95, :x_start=>2284, :y_start=>123, :x_end=>2591, :y_end=>202}, 
{:word=>"PROJECT", :confidence=>95, :x_start=>2731, :y_start=>120, :x_end=>3370, :y_end=>203}, 
{:word=>"ea", :confidence=>28, :x_start=>330, :y_start=>3590, :x_end=>1237, :y_end=>4035}, 
{:word=>"ENV", :confidence=>48, :x_start=>1813, :y_start=>3556, :x_end=>2237, :y_end=>4026},
{:word=>"BUEN", :confidence=>5, :x_start=>2271, :y_start=>3430, :x_end=>3442, :y_end=>4031}, 
{:word=>"MURAL", :confidence=>96, :x_start=>800, :y_start=>4117, :x_end=>1440, :y_end=>4234}, 
{:word=>"BY", :confidence=>96, :x_start=>1529, :y_start=>4117, :x_end=>1743, :y_end=>4230}, 
{:word=>"PHILLIP", :confidence=>91, :x_start=>1802, :y_start=>4114, :x_end=>2490, :y_end=>4232}, 
{:word=>"GUSTON", :confidence=>91, :x_start=>2555, :y_start=>4118, :x_end=>3282, :y_end=>4238},
{:word=>"FOR", :confidence=>92, :x_start=>780, :y_start=>4539, :x_end=>1083, :y_end=>4651}, 
{:word=>"QUEENSBRIDGE", :confidence=>91, :x_start=>1203, :y_start=>4540, :x_end=>2581, :y_end=>4673}, 
{:word=>"HOUSES", :confidence=>95, :x_start=>2700, :y_start=>4564, :x_end=>3320, :y_end=>4680}, 
{:word=>"COMMUNITY", :confidence=>94, :x_start=>778, :y_start=>4733, :x_end=>2251, :y_end=>4861}, 
{:word=>"CENTER", :confidence=>95, :x_start=>2435, :y_start=>4751, :x_end=>3305, :y_end=>4871}, 
{:word=>"WORK", :confidence=>96, :x_start=>194, :y_start=>5203, :x_end=>522, :y_end=>5292}, 
{:word=>"PROJECTS", :confidence=>96, :x_start=>619, :y_start=>5180, :x_end=>1176, :y_end=>5299}, 
{:word=>"ADMINISTRATION", :confidence=>95, :x_start=>1278, :y_start=>5229, :x_end=>2331, :y_end=>5300},
{:word=>"ARTS", :confidence=>96, :x_start=>2436, :y_start=>5233, :x_end=>2732, :y_end=>5301}, 
{:word=>"PROGRAM", :confidence=>96, :x_start=>2823, :y_start=>5236, :x_end=>3370, :y_end=>5306}] 
--->



 RTesseract.new('test.jpg', lang: 'deu')

      
   